.card{
    padding: 1.5rem;
    min-height: 8rem;
    min-width: 20rem;
    background-color: #fff;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    transition: all 0.3s ease;
    &:hover{
        transform: scale(1.05);
    }
    h5{
        font-size: 16px;
        font-weight: 500;
    }
    p{
        font-size: 14px;
        color: #848484;
    }
}

